<template>
  <v-data-table
    :headers="headers"
    :items="users"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>CRUD Users</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="800px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New User
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-select v-if="editedItem.gender"
                      v-model="editedItem.gender"
                      :items="genderItem"
                      :label="editedItem.gender"
                    ></v-select>
                     <v-select v-else
                      v-model="editedItem.gender"
                      :items="genderItem"
                      label="Gender"
                    ></v-select>

                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="2"
                  >
                    <v-text-field
                      v-model="editedItem.age"
                      label="Age"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-text-field
                      v-model="editedItem.street"
                      label="Street"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.city"
                      label="City"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-alert v-show="hasError"
                  dense
                  outlined
                  type="error"
                >
                  Please fill all <strong>fields</strong>
                </v-alert>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>
<script>
  import UserDataService from "../services/UserDataService.js"

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      hasError: false,
      genderItem: ['Male','Female'],
      headers: [
        {
          text: 'Name',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        {
          text: 'Gender',
          align: 'start',
          sortable: false,
          value: 'gender',
        },
        { text: 'Age', value: 'age' },
        { text: 'Street', value: 'street', sortable: false },
        { text: 'City', value: 'city' },
        { text: 'Actions', value: 'actions', sortable:false}
      ],
      users: [],
      editedIndex: -1,
      editedItem: {
            name: '',
            gender: '',
            age: 0,
            street: '',
            city: '',
      },
      defaultItem: {
        name: '',
        gender: '',
        age: 0,
        street: '',
        city: '',
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New User' : 'Edit User'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
      this.queryAllItems()
    },

    methods: {
      initialize () {
        this.users = [
         
        ]
      },
      queryAllItems(){
        UserDataService.getAll()
        .then(response=>{
          this.users = response.data.users
        }).catch(err=>{
          console.log(err)
        })
      },
      editItem (item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.deleteQuery(this.users[this.editedIndex])
        this.users.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.hasError = false
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if(this.validationForm(this.editedItem)){
          if (this.editedIndex > -1) {
            this.modify(this.editedItem)
            Object.assign(this.users[this.editedIndex], this.editedItem)
          } else {
            this.create(this.editedItem)
            this.users.push(this.editedItem)
          }
          this.close()
        }else{
          this.hasError = true
        }
      },
      modify(item){
        UserDataService.update(item)
      },
      create(item){
        UserDataService.create(item)
      },
      deleteQuery(item){
        UserDataService.delete(item.uuid)
      },
      validationForm(object){
        if(object.name === '' || object.gender === '' || object.age === '' || object.street === '' || object.city === '') return false
        else return true
      }
    },
  }
</script>